.charts-section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-inline: auto;

    .charts{
        margin-top: 80px;
        display: flex;
    }
}