.signup-page{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-header{
        font-weight: bolder;
        margin-bottom: 40px;
    }
    .logo-img{
        max-width: 200px;
        margin-bottom: 40px;
    }

    h2{
        margin-bottom: 35px;
    }
}