.transactions{
    max-height: 40%;
    overflow-y: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-header{
        font-weight: bold;
        margin-bottom: 30px;
    }

    .move{
        margin-bottom: 25px;
    }
}